## Deliverable 3. Create a Travel Itinerary Map.

In [53]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import sys
sys.path.append("..")
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [54]:
selected_cities = pd.read_csv("Vacation_Search/Vacation_Search.csv")
selected_cities

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Geraldton,AU,66.61,scattered clouds,-28.7667,114.6000,Broadwater Mariner Resort
1,2,New Norfolk,AU,51.93,scattered clouds,-42.7826,147.0587,The Shingles Riverside Cottages
2,3,Los Llanos De Aridane,ES,64.13,scattered clouds,28.6585,-17.9182,Valle Aridane
3,4,Ushuaia,AR,51.46,broken clouds,-54.8000,-68.3000,Albatros Hotel
4,6,Bluff,NZ,57.79,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
...,...,...,...,...,...,...,...,...
157,536,Nishihara,JP,63.68,broken clouds,26.1842,127.7558,Minshuku Agaihama
158,537,Portoferraio,IT,56.97,overcast clouds,42.8115,10.3146,Hotel Villa Ombrosa
159,542,Vityazevo,RU,50.43,broken clouds,44.9931,37.2719,Altair Guest House
160,543,Sao Francisco Do Sul,BR,72.10,overcast clouds,-26.2433,-48.6381,Hotel Kontiki
161,553,Broome,US,53.58,overcast clouds,42.2506,-75.8330,Chenango Valley State Park

In [55]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/Vacation_Search.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Geraldton,AU,66.61,scattered clouds,-28.7667,114.6000,Broadwater Mariner Resort
1,2,New Norfolk,AU,51.93,scattered clouds,-42.7826,147.0587,The Shingles Riverside Cottages
2,3,Los Llanos De Aridane,ES,64.13,scattered clouds,28.6585,-17.9182,Valle Aridane
3,4,Ushuaia,AR,51.46,broken clouds,-54.8000,-68.3000,Albatros Hotel
4,6,Bluff,NZ,57.79,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [56]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [57]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["Hotel Name"] == "Southern Sun Waterfront Cape Town")]
vacation_end = vacation_df.loc[(vacation_df["Hotel Name"] == "Southern Sun Waterfront Cape Town")]
vacation_stop1 = vacation_df.loc[(vacation_df["Hotel Name"] == "Oyster Bay House Rental")]
vacation_stop2 = vacation_df.loc[(vacation_df["Hotel Name"] == "Bredasdorp Country Manor")]
vacation_stop3 = vacation_df.loc[(vacation_df["Hotel Name"] == "Misty Waves Boutique Hotel")]

In [85]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = vacation_start[['Lat','Lng']].to_numpy(dtype=tuple)
#start_pair = [start[0,0], start[0,1]]
#end = vacation_end[['Lat','Lng']].to_numpy(dtype=tuple)
#end_pair = [end[0,0], end[0,1]]
#stop1 = vacation_stop1[["Lat","Lng"]].to_numpy(dtype=tuple)
#stop1_pair = [stop1[0,0], stop1[0,1]]
#stop2 = vacation_stop2[["Lat","Lng"]].to_numpy(dtype=tuple)
#stop2_pair = [stop2[0,0], stop2[0,1]]
#stop3 = vacation_stop3[["Lat","Lng"]].to_numpy(dtype=tuple)
#stop3_pair = [stop3[0,0], stop3[0,1]]
start = vacation_start['Lat'].values[0], vacation_start['Lng'].values[0]
end = vacation_end['Lat'].values[0], vacation_end['Lng'].values[0]
stop1 = vacation_stop1['Lat'].values[0], vacation_stop1['Lng'].values[0]
stop2 = vacation_stop2['Lat'].values[0], vacation_stop2['Lng'].values[0]
stop3 = vacation_stop3['Lat'].values[0], vacation_stop3['Lng'].values[0]

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(-33.9258, 18.4232)
(-33.9258, 18.4232)
(-34.0033, 24.7314)
(-34.5322, 20.0403)
(-34.4187, 19.2345)

In [86]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
route = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [88]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,62,Cape Town,ZA,63.27,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
1,33,Kruisfontein,ZA,61.88,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental
2,24,Bredasdorp,ZA,55.27,clear sky,-34.5322,20.0403,Bredasdorp Country Manor
3,108,Hermanus,ZA,61.90,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel

In [89]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [91]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))